[package]
edition = "2021"
name = "strata-sequencer"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[dependencies]
strata-chaintsn.workspace = true
strata-common.workspace = true
strata-consensus-logic.workspace = true
strata-db.workspace = true
strata-eectl.workspace = true
strata-l1tx.workspace = true
strata-primitives.workspace = true
strata-state.workspace = true
strata-status.workspace = true
strata-storage.workspace = true
strata-tasks.workspace = true

anyhow.workspace = true
borsh.workspace = true
serde.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
zeroize.workspace = true

[dev-dependencies]
bitcoin.workspace = true
strata-key-derivation.workspace = true

[features]
debug-utils = ["strata-common/debug-utils"]
