[package]
edition = "2021"
name = "strata-sequencer"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[dependencies]
strata-asm-common.workspace = true
strata-asm-logs.workspace = true
strata-chainexec.workspace = true
strata-chaintsn.workspace = true
strata-checkpoint-types.workspace = true
strata-common.workspace = true
strata-consensus-logic.workspace = true
strata-crypto.workspace = true
strata-csm-types.workspace = true
strata-db-types.workspace = true
strata-eectl.workspace = true
strata-identifiers.workspace = true
strata-msg-fmt.workspace = true
strata-ol-chain-types.workspace = true
strata-ol-chainstate-types.workspace = true
strata-params.workspace = true
strata-primitives.workspace = true
strata-state.workspace = true
strata-status.workspace = true
strata-storage.workspace = true
strata-tasks.workspace = true

anyhow.workspace = true
rkyv.workspace = true
serde.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
zeroize.workspace = true

[dev-dependencies]
bitcoin.workspace = true
strata-key-derivation.workspace = true

[features]
debug-utils = ["strata-common/debug-utils"]
