version: 2
updates:
  # GitHub Actions dependencies
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    # Cooldown
    cooldown:
      default-days: 5
  - package-ecosystem: "pip"
    directory: "/functional-tests/"
    schedule:
      interval: "monthly"
    # Cooldown
    cooldown:
      default-days: 5
