[package]
edition = "2021"
name = "strata-state"
version = "0.3.0-alpha.1"

[lints]
workspace = true

# Note: Since we want to keep the core consensus logic generic, we shouldn't
# reuse much of reth in this crate so that we can factor it all out eventually.

[dependencies]
strata-asm-common.workspace = true
strata-asm-stf.workspace = true
strata-bridge-types.workspace = true
strata-csm-types.workspace = true
strata-identifiers.workspace = true
strata-primitives.workspace = true

anyhow.workspace = true
arbitrary.workspace = true
async-trait.workspace = true
rkyv.workspace = true
serde.workspace = true
ssz.workspace = true

[features]
test_utils = []
