[package]
edition = "2021"
name = "strata-client"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[[bin]]
name = "strata-client"
path = "src/main.rs"

[dependencies]
strata-btcio.workspace = true
strata-common = { workspace = true, default-features = true }
strata-config.workspace = true
strata-consensus-logic = { workspace = true, default-features = true }
strata-db.workspace = true
strata-eectl.workspace = true
strata-evmexec.workspace = true
strata-primitives.workspace = true
strata-rocksdb.workspace = true
strata-rpc-api = { workspace = true, default-features = true }
strata-rpc-types.workspace = true
strata-rpc-utils.workspace = true
strata-sequencer.workspace = true
strata-state.workspace = true
strata-status.workspace = true
strata-storage.workspace = true
strata-sync.workspace = true
strata-tasks.workspace = true
zkaleido.workspace = true

alloy-rpc-types.workspace = true
anyhow.workspace = true
argh.workspace = true
async-trait.workspace = true
bitcoin.workspace = true
bitcoind-async-client.workspace = true
borsh.workspace = true
format_serde_error.workspace = true
futures.workspace = true
jsonrpsee = { workspace = true, features = ["server", "macros"] }
serde_json.workspace = true
thiserror.workspace = true
threadpool.workspace = true
tokio.workspace = true
toml.workspace = true
tracing.workspace = true

[dev-dependencies]


[features]
debug-utils = [
  "strata-common/debug-utils",
  "strata-consensus-logic/debug-utils",
  "strata-sequencer/debug-utils",
  "strata-sync/debug-utils",
]
