[package]
edition = "2021"
name = "strata-prover-client"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[[bin]]
name = "strata-prover-client"
path = "src/main.rs"

[dependencies]
strata-common.workspace = true
strata-codec-utils.workspace = true
strata-db-store-sled.workspace = true
strata-db-types.workspace = true
strata-ol-chain-types.workspace = true
strata-ol-chainstate-types.workspace = true
strata-paas.workspace = true
strata-params.workspace = true
strata-primitives.workspace = true
strata-proofimpl-checkpoint.workspace = true
strata-proofimpl-cl-stf.workspace = true
strata-proofimpl-evm-ee-stf.workspace = true
strata-prover-client-rpc-api.workspace = true
strata-rpc-api = { workspace = true, features = ["client"] }
strata-rpc-types.workspace = true
strata-rpc-utils.workspace = true
strata-tasks.workspace = true
strata-zkvm-hosts.workspace = true
zkaleido.workspace = true

alloy-rpc-types.workspace = true
anyhow.workspace = true
argh.workspace = true
async-trait.workspace = true
bitcoind-async-client.workspace = true
hex = { workspace = true, optional = true }
jsonrpsee = { workspace = true, features = ["http-client"] }
rkyv.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
tokio.workspace = true
toml.workspace = true
tracing.workspace = true

# sp1
sp1-sdk = { workspace = true, optional = true }
sp1-verifier = { workspace = true, optional = true }
strata-sp1-guest-builder = { path = "../../provers/sp1", optional = true }
zkaleido-native-adapter.workspace = true
zkaleido-sp1-groth16-verifier = { workspace = true, optional = true }
zkaleido-sp1-host = { git = "https://github.com/alpenlabs/zkaleido", tag = "v0.1.0-alpha-rc18", features = [
  "remote-prover",
], optional = true }

[dev-dependencies]

[features]
default = []
sp1 = [
  "strata-zkvm-hosts/sp1",
  "dep:hex",
  "dep:sp1-sdk",
  "dep:sp1-verifier",
  "dep:zkaleido-sp1-groth16-verifier",
  "dep:zkaleido-sp1-host",
]
sp1-builder = [
  "sp1",
  "strata-zkvm-hosts/sp1-builder",
  "dep:strata-sp1-guest-builder",
]
