[package]
edition = "2021"
name = "strata-sequencer-client"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[[bin]]
name = "strata-sequencer-client"
path = "src/main.rs"

[dependencies]
strata-common.workspace = true
strata-crypto.workspace = true
strata-key-derivation.workspace = true
strata-primitives.workspace = true
strata-rpc-api = { workspace = true, features = ["client"] }
strata-rpc-types.workspace = true
strata-sequencer.workspace = true
strata-state.workspace = true
strata-tasks.workspace = true

anyhow.workspace = true
argh.workspace = true
bitcoin.workspace = true
jsonrpsee = { workspace = true, features = ["server", "macros"] }
serde.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
zeroize.workspace = true
