[package]
edition = "2021"
name = "strata-primitives"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[dependencies]
strata-btc-types.workspace = true
strata-crypto = { workspace = true, features = ["serde"] }
strata-identifiers = { workspace = true, features = ["bitcoin"] }

arbitrary.workspace = true
bitcoin = { workspace = true, features = ["serde", "rand-std"] }
bitcoin-bosd = { workspace = true, features = [
  "address",
  "serde",
  "borsh",
  "arbitrary",
] }
borsh.workspace = true
secp256k1 = { workspace = true, optional = true }
serde.workspace = true
thiserror.workspace = true
zeroize.workspace = true

[dev-dependencies]

[features]
default = ["std"]
std = ["dep:secp256k1"]
