[package]
edition = "2021"
name = "strata-datatool"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[[bin]]
name = "strata-datatool"
path = "src/main.rs"

[dependencies]
alpen-chainspec.workspace = true
strata-asm-types.workspace = true
strata-bridge-types.workspace = true
strata-crypto.workspace = true
strata-key-derivation.workspace = true
strata-l1-txfmt.workspace = true
strata-params.workspace = true
strata-predicate.workspace = true
strata-primitives.workspace = true

sp1-verifier = { workspace = true, optional = true }
strata-sp1-guest-builder = { path = "../../provers/sp1", optional = true }
zkaleido-sp1-groth16-verifier = { workspace = true, optional = true }

alloy-genesis.workspace = true
alloy-primitives.workspace = true
anyhow.workspace = true
argh.workspace = true
bitcoin = { workspace = true, features = ["std"] }
bitcoind-async-client = { workspace = true, optional = true }
rand_core.workspace = true
reth-chainspec.workspace = true
serde_json.workspace = true
shrex.workspace = true
tokio = { workspace = true, optional = true }
zeroize.workspace = true

[features]
default = ["btc-client"]
btc-client = ["dep:bitcoind-async-client", "dep:tokio"]
sp1-builder = [
  "strata-sp1-guest-builder/sp1-dev",
  "dep:sp1-verifier",
  "dep:zkaleido-sp1-groth16-verifier",
]
sp1-docker-builder = ["sp1-builder", "strata-sp1-guest-builder/docker-build"]
