[package]
edition = "2021"
name = "alpen-reth-db"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[dependencies]
alpen-reth-statediff.workspace = true
strata-db.workspace = true
strata-db-store-sled = { workspace = true, optional = true }
strata-proofimpl-evm-ee-stf.workspace = true

bincode.workspace = true
revm-primitives.workspace = true
sled = { workspace = true, optional = true }
typed-sled = { workspace = true, optional = true }

[features]
default = ["sled"]
sled = ["dep:strata-db-store-sled", "dep:sled", "dep:typed-sled"]

[dev-dependencies]
serde.workspace = true
serde_json.workspace = true
