[package]
edition = "2021"
name = "alpen-reth-db"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[dependencies]
alpen-reth-statediff.workspace = true
strata-db-store-sled.workspace = true
strata-db-types.workspace = true
strata-proofimpl-evm-ee-stf.workspace = true

bincode.workspace = true
revm-primitives.workspace = true
sled.workspace = true
typed-sled.workspace = true

[dev-dependencies]
serde.workspace = true
serde_json.workspace = true
