# Run ./init-alpen-client-keys.sh to generate .env.alpen-client with real values.

SEQUENCER_PRIVATE_KEY=
SEQUENCER_PUBKEY=

SEQ_P2P_PUBKEY=
FN_P2P_PUBKEY=

CHAIN_SPEC=testnet

EE_DA_MAGIC_BYTES=ALPN
L1_REORG_SAFE_DEPTH=1
GENESIS_L1_HEIGHT=0
BATCH_SEALING_BLOCK_COUNT=5

BITCOIND_RPC_USER=rpcuser
BITCOIND_RPC_PASSWORD=rpcpassword
BITCOIND_RPC_PORT=18443

STRATA_RPC_PORT=8432

SEQ_HTTP_PORT=8545
SEQ_WS_PORT=8546
SEQ_P2P_PORT=30303

FN_HTTP_PORT=9545
FN_WS_PORT=9546
FN_P2P_PORT=31303

RUST_LOG=info
