[package]
name = "strata-ol-block-template-types"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
serde.workspace = true
strata-identifiers.workspace = true
strata-ol-chain-types-new.workspace = true
