[package]
edition = "2021"
name = "strata-zkvm-hosts"
version = "0.3.0-alpha.1"

[lints]
workspace = true

[dependencies]
zkaleido.workspace = true
zkaleido-native-adapter.workspace = true

# sp1
strata-sp1-guest-builder = { path = "../../../provers/sp1", optional = true }
zkaleido-sp1-host = { git = "https://github.com/alpenlabs/zkaleido", tag = "v0.1.0-alpha-rc18", features = [
  "remote-prover",
], optional = true }

strata-primitives.workspace = true
strata-proofimpl-checkpoint.workspace = true
strata-proofimpl-cl-stf.workspace = true
strata-proofimpl-evm-ee-stf.workspace = true

[features]
default = []
sp1 = ["dep:zkaleido-sp1-host", "zkaleido-sp1-host/remote-prover"]
sp1-builder = ["sp1", "strata-sp1-guest-builder/sp1-dev"]
