name: Daily Ethereum Execution Spec tests

#on:
#  schedule:
#    - cron: '0 3 * * 0'  # Weekly: Sunday 03:00 UTC
#  workflow_dispatch:      # Manual trigger (optional)

# TODO: clean this up.
on:
  pull_request:
  merge_group:
  push:
    branches: [main]

env:
  CI: false
  COMMIT: ${{ github.sha }}

permissions:
  contents: read
  pull-requests: read

jobs:
  setup-services-and-run-eest:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    environment:
      name: development
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        persist-credentials: false

    - name: Configure AWS ECR Details
      uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4
      with:
        role-to-assume: ${{ secrets.AWS_ECR_ROLE }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2
      with:
        mask-password: "true"

    - name: Pull latest Docker images from CD pipeline
      id: pull-images
      env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY_PREFIX: ${{ vars.ECR_REPOSITORY_PREFIX }}
      run: |
        BINARIES=(
          "strata-client"
          "strata-sequencer-client"
          "alpen-reth"
        )
        
        for IMAGE in "${BINARIES[@]}"; do
          ECR_REPOSITORY="${ECR_REPOSITORY_PREFIX}/${IMAGE}"
          TAG=$(aws ecr describe-images \
            --repository-name "${ECR_REPOSITORY}" \
            --query 'sort_by(imageDetails,& imagePushedAt)[-1].imageTags[0]' \
            --output text)
          echo "$TAG"
          IMG_URL="${ECR_REGISTRY}/${ECR_REPOSITORY}:${TAG}"
          docker pull "${IMG_URL}"
          docker tag "${IMG_URL}" "${IMAGE}:latest"
        done
    
    - name: List pulled Docker images
      run: |
        docker image list

    - name: Build params
      run: |
        # Install base58
        pip3 install base58

        # Build datatool with sp1 features
        cargo build --bin strata-datatool --release

        # Generate parameters and capture the output
        ./target/release/strata-datatool genparams --elf-dir docker/prover-client/elfs/sp1
        cd docker && ./init-keys.sh ../target/release/strata-datatool
        cd configs

        # Overwrite the block time for faster blocks.
        jq '.block_time = 1000' params.json > tmp.json && mv tmp.json params.json

    - name: Build Prover Client image in native mode
      run: |
        mkdir -p docker/prover-client/elfs

        # Build prover
        docker build \
          --build-arg PROVER_FEATURES="default" \
          -t "strata-prover-client:latest" \
          -f "docker/prover-client/Dockerfile" .
    
    - name: Start services with Docker Compose
      run: |
        docker image list
        docker compose -f ./docker/docker-compose-testing.yml up -d

    - name: Wait for services to be ready
      run: |
        sleep 60 # Ideally need some healthchecks.
        docker ps -a

    - name: Run tests
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        git clone https://github.com/alpenlabs/execution-spec-tests
        cd execution-spec-tests
        uv python install 3.11
        uv python pin 3.11
        uv sync --all-extras
        uv run solc-select use 0.8.24 --always-install
        uv run execute remote \
          -m state_test \
          --fork=Shanghai \
          --rpc-endpoint=http://localhost:8545 \
          --rpc-seed-key 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 \
          --rpc-chain-id 2892 \
          --tx-wait-timeout 30 \
          -v
      continue-on-error: true
    
    - name: Generate a proof of EE blocks execution.
      working-directory: docker
      run: |
        chmod +x test_ee_proof.sh
        ./test_ee_proof.sh

    - name: Tear down services
      if: always()
      run: docker compose -f ./docker/docker-compose-testing.yml down
