# Runs mutants tests.

name: Mutants Tests

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  DEFAULT_BRANCH: main

concurrency:
  group: ${{ github.workflow }}-${{ github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  mutants-test:
    name: Generate mutants on diff against default branch and test
    runs-on: ubuntu-latest
    continue-on-error: true # FIXME: remove this if all mutants are covered
    strategy:
      fail-fast: false # Collect all mutants even if some are missed
      matrix:
        shard: [0, 1, 2, 3, 4, 5, 6, 7]
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Relative diff
        run: |
          git branch -av
          git diff "origin/$DEFAULT_BRANCH" | tee git.diff

      - name: Rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2
        with:
          cache-on-failure: true

      - name: Install `cargo-mutants`
        uses: taiki-e/install-action@3216b6964cbfe053bb8b9a2ef245bd9300e2061d # v2
        with:
          tool: cargo-mutants

      - name: Run `cargo-mutants`
        run: |
          cargo mutants --no-shuffle -vV --in-diff git.diff --shard ${{ matrix.shard }}/8 --timeout 300

      - name: Archive mutants.out
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        if: always()
        with:
          name: mutants-incremental.out
          path: mutants-shard${{ matrix.shard }}.out
          overwrite: true
