name: Run prover guest code checks

on: pull_request

permissions: {}

jobs:
  extract-rust-version:
    name: Extract Rust toolchain version
    runs-on: ubuntu-latest
    outputs:
      rust-version: ${{ steps.extract.outputs.rust-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          persist-credentials: false

      - name: Extract Rust toolchain version
        id: extract
        uses: ./.github/actions/extract-rust-version # zizmor: ignore[unpinned-uses]

  eval_perf:
    permissions:
      # Needed to install the toolchain.
      contents: write
      # Needed to post the performance report comments.
      pull-requests: write
    runs-on: ubuntu-latest
    needs: extract-rust-version

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          persist-credentials: false

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@a02741459ec5e501b9843ed30b535ca0a0376ae4 # nightly
        with:
          toolchain: ${{ needs.extract-rust-version.outputs.rust-version }}

      - name: Use Cargo cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          cache-on-failure: true

      # Installs mold (modern ld), a drop-in replacement for lld.
      # Under the hood, the following action symlinks mold binary onto lld,
      # so everything is linked faster (hopefully).
      - name: Install mold linker
        uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # v1

      - name: Set up Clang
        uses: egor-tensin/setup-clang@471a6f8ef1d449dba8e1a51780e7f943572a3f99 # v1
        with:
          version: latest
          platform: x64

      - name: Install SP1 Toolchain
        run: |
          curl -fsSL --proto '=https' --tlsv1.2 https://sp1.succinct.xyz | bash && ~/.sp1/bin/sp1up
          export PATH=~/.sp1/bin:$PATH
          cargo prove --version

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          persist-credentials: false

      - name: Run performance evaluation
        run: |
          ZKVM_MOCK=1 cargo run --profile prover-ci -- \
          --post-to-gh \
          --github-token "${{ secrets.GITHUB_TOKEN }}" \
          --pr-number "${{ github.event.pull_request.number }}" \
          --commit-hash "${{ github.sha }}" \
          --programs evm-ee-stf,cl-stf,checkpoint
        working-directory: bin/prover-perf
        env:
          RUSTFLAGS: "-C target-cpu=native -C link-arg=-fuse-ld=lld"
