name: Security

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  supply-chain:
    name: Run `cargo-audit`
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          persist-credentials: false

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@22a6a5b0f9f487c5f5587025ae9d4a1caf2a8a78 # clippy

      - name: Rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          cache-on-failure: true

      - name: Install cargo-audit
        run: cargo install cargo-audit --force --locked

        #  HACK: not denying warnings as we depend on `yaml-rust` via `format-serde-error` which is unmaintained
      - name: Check for audit warnings
        run: cargo audit -D warnings --file audit.toml
        continue-on-error: true

        # HACK: re-run without denying warnings so that we don't miss any vulnerabilities
      - name: Check for vulnerabilities
        run: cargo audit --file audit.toml
