name: Shellcheck

on:
  pull_request:
    branches: ["**"]

permissions: {}

jobs:
  shellcheck:
    name: Verify shell scripts with Shellcheck
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
        with:
          persist-credentials: false

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38
        env:
          SHELLCHECK_OPTS: -x # allow outside sources
