# Runs unit tests, functional tests and publishes coverage.

name: Tests with coverage

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-test-coverage
  cancel-in-progress: true

permissions: {}

jobs:
  unit-tests:
    uses: ./.github/workflows/unit.yml

  functional-tests:
    uses: ./.github/workflows/functional.yml

  functional-tests-new:
    uses: ./.github/workflows/functional-new.yml

  publish-coverage:
    name: Publish coverage reports
    runs-on: ubuntu-latest
    if: always()
    needs: [functional-tests, unit-tests, functional-tests-new]
    timeout-minutes: 10
    steps:
      # NOTE: codecov action needs source files in the same path as in the lcov.info
      # ensure the source location is same in unit test, functional test and this job
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Download unit test coverage
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: unit-lcov

      - name: Publish Unit Test Coverage
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./lcov.unit.info
          flags: unit
          name: unit-coverage

      # Functional test coverage is only generated on main branch (PRs run parallel without coverage)
      - name: Download functional test coverage
        if: github.ref == 'refs/heads/main'
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: functional-lcov

      - name: Publish Functional Test Coverage
        if: github.ref == 'refs/heads/main'
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./lcov.functional.info
          flags: functional
          name: functional-coverage
